@charset "utf-8";
/* CSS Document */
#window_ifarm{ display:block; margin-top:44px;}
#open_title{ height:44px; background:#393939; overflow:hidden; position:fixed; top:0px; left:0px; width:100%; z-index:10000000;}
#open_title #open_inner{ width:1200px; margin:0 auto; overflow:hidden;}
/*.open_fr{ height:44px; width:975px; background:url(../images/ur.png) no-repeat left top;}*/
#open_title .open_fr{ height:44px; width:1050px; background:url(../images/l1.png) no-repeat left top;}
/*.fr_inner{ width:410px; overflow:hidden;}*/
#open_title .fr_inner{ width:324px; overflow:hidden;}
#open_title .fr_inner .item{ width:168px; float:left; height:44px; line-height:44px; background:url(../images/ut.png) no-repeat left top; font-size:18px; color:#fff; text-indent:36px; margin:0; padding:0; border:0;}
#open_title .close_but{ margin:4px 0 0 0; cursor:pointer; display:none;}
/*.opfl{ width:242px; height:44px; float:left; margin:0 0 0 86px; cursor:pointer;}*/
#open_title .opfl{ width:111px; height:31px; float:left; margin:7px 0 0 420px; cursor:pointer; background:url(../images/l2.png) no-repeat left top;}
#open_title .fwrx{ font-size:18px; color:#fff; float:left; margin:10px 0 0 0;}
#open_title .close{ margin:12px 29px 0 0; cursor:pointer;}

#footer .crt{text-align:center; height:40px; line-height:40px;}

